body {
    width: 960px;
    margin: 50px auto;
}

.button {
    height: 100px;
    width: 100px;
    outline: none;
    border-radius: 50%;
}

.button:hover {
    outline: none;
    border-color: yellow;
    box-shadow: 0 0 30px yellow;
    border: solid 2px black; }

.selected {
    background: yellow;
    border-radius: 50%;
}